<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a
            class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
        <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
        <div class="sidebar-brand-text mx-3"><span>Profile</span></div>
    </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link active" href="/list-patients"><i
                    class="fas fa-tachometer-alt"></i><span>Danh sách bệnh nhân</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/list-doctors"><i class="fas fa-user"></i><span>Danh sách bác sĩ</span></a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/add-patient"><i
                    class="fas fa-table"></i><span>Add patient</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/login"><i class="far fa-user-circle"></i><span>Thông báo</span></a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/login"><i class="fas fa-user-circle"></i><span>Đăng xuất</span></a>
            </li>
        </ul>
        <div class="text-center d-none d-md-inline">
            <button class=" rounded-circle border-0" id="sidebarToggle" type="button"></button>
        </div>
    </div>
</nav>
<!-- day la phan code layout them benh nhan, cai phan mau cua layput chua full ddk het cai man hinh,  -->
<!--<div class=" bg-gra-02 p-t-130 p-b-100 font-poppins">-->
<div class="addpatient">
    <div class="wrapper bg-gra-02 wrapper--w680 p-t-130 p-b-100">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Thêm bệnh nhân</h2>
                <form method="POST" action="/add-patient">
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Username</label>
                                <input class="input--style-4" type="text" name="username">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Password</label>
                                <input class="input--style-4" type="text" name="password">
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">ID</label>
                                <input class="input--style-4" maxlength="99" type="text" name="id">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Tuổi</label>
                                <input class="input--style-4" min="1" max="120" type="number" name="age">
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Họ Và Tên</label>
                                <input class="input--style-4" type="text" name="name">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Số Điện Thoại</label>
                                <input class="input--style-4" type="text" name="phone">
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <label class="label">Ngày Sinh</label>
                            <div class="input-group">

                                <div class="input-group-icon">
                                    <input class="input--style-4 js-datepicker" type="text" name="birth_day">
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <label class="label">Giới Tính</label>
                            <div class="input-group">
                                <div class="p-t-10">
                                    <label class="radio-container m-r-45">Male
                                        <input type="radio" checked="checked" name="gender">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-container">Female
                                        <input type="radio" name="gender">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Phòng</label>
                                <input class="input--style-4"  name="number_room">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Key Device</label>
                                <input class="input--style-4" type="text" name="key_device">
                            </div>
                        </div>
                    </div>

                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit">Thêm Bệnh Nhân</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
