
<body id="page-top">
<div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
    <table class="table my-0" id="dataTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>HEART RATE</th>
            <th>SPO2</th>
            <th>TEMPERATURE</th>
            <th>STATUS</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td><img class="rounded-circle me-2" width="30" height="30" src="img/avatars/avatar1.jpeg" />1</td>
            <td>Nguyen Van A</td>
            <td>23</td>
            <td><button type="button" class="btn-outline-success">Bình Thường</button></td>

        </tr>
        <tr>
            <td><img class="rounded-circle me-2" width="30" height="30" src="img/avatars/avatar2.jpeg" />2</td>
            <td>Nguyen Van B</td>
            <td>23</td>
            <td><button type="button" class="btn-outline-success2">Cảnh báo</button></td>

        </tr>
        <tr>
            <td><img class="rounded-circle me-2" width="30" height="30" src="img/avatars/avatar3.jpeg" />3</td>
            <td>Hoang Van B</td>
            <td>32</td>
            <td><button type="button" class="btn-outline-success">Bình Thường</button></td>

        </tr>
        <tr>
            <td><img class="rounded-circle me-2" width="30" height="30" src="img/avatars/avatar4.jpeg" />4</td>
            <td>Pham Van B</td>
            <td>45</td>
            <td><button type="button" class="btn-outline-success">Bình Thường</button></td>

        </tr>
        <tr>
            <td><img class="rounded-circle me-2" width="30" height="30" src="img/avatars/avatar5.jpeg" />5r</td>
            <td>Nguyen Van C</td>
            <td>54</td>
            <td><button type="button" class="btn-outline-success">Bình Thường</button></td>

        </tr>
        <tr>
            <td><img class="rounded-circle me-2" width="30" height="30" src="img/avatars/avatar1.jpeg" />6</td>
            <td>Nguyen Van D</td>
            <td>54</td>
            <td><button type="button" class="btn-outline-success">Bình Thường</button></td>

        </tr>
        <tr>
            <td><img class="rounded-circle me-2" width="30" height="30" src="img/avatars/avatar2.jpeg" />7<br /></td>
            <td>Nguyen Van H</td>
            <td>65</td>
            <td><button type="button" class="btn-outline-success">Bình Thường</button></td>

        </tr>
        <tr>
            <td><img class="rounded-circle me-2" width="30" height="30" src="img/avatars/avatar3.jpeg" />8</td>
            <td>Nguyen Van Y</td>
            <td>65</td>
            <td><button type="button" class="btn-outline-success">Bình Thường</button></td>

        </tr>
        <tr>
            <td><img class="rounded-circle me-2" width="30" height="30" src="img/avatars/avatar4.jpeg" />9</td>
            <td>Nguyen Van M</td>
            <td>32</td>
            <td><button type="button" class="btn-outline-success">Bình Thường</button></td>

        </tr>
        <tr>
            <td><img class="rounded-circle me-2" width="30" height="30" src="img/avatars/avatar5.jpeg" />10</td>
            <td>Nguyen Van J</td>
            <td>54</td>
            <td><button type="button" class="btn-outline-success">Bình Thường</button></td>

        </tr>
    </table>
</div>
<footer class="bg-white sticky-footer">
    <div class="container my-auto">
        <div class="text-center my-auto copyright"><span>Copyright © Brand 2021</span></div>
    </div>
</footer>
</div>
<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/script.min.js"></script>
</body>
